<!-- grid temp -->

<div class="grid-section">
  <div class="grid grid--uniform">
    <div class="grid__item">
      <div class="grid__item-inner">
        <div class="grid__image">
          <img src="https://cdn.shopify.com/s/files/1/0533/2089/5885/files/1_300x300_crop_center.jpg?v=1621860731" alt="Image" />
        </div>
        <div class="grid__text">
          <h3 class="grid__title">Title</h3>
          <p class="grid__description">Description</p>
        </div>
      </div>
    </div>
    <div class="grid__item">
      <div class="grid__item-inner">
        <div class="grid__image">
          <img src="https://cdn.shopify.com/s/files/1/0533/2089/5885/files/2_300x300_crop_center.jpg?v=1621860731" alt="Image" />
        </div>
        <div class="grid__text">
          <h3 class="grid__title">Title</h3>
          <p class="grid__description">Description</p>
        </div>
        </div>
    </div>
    <div class="grid__item">
      <div class="grid__item-inner">
        <div class="grid__image">
          <img src="https://cdn.shopify.com/s/files/1/0533/2089/5885/files/3_300x300_crop_center.jpg?v=1621860731" alt="Image" />
        </div>
        <div class="grid__text">
          <h3 class="grid__title">Title</h3>
          <p class="grid__description">Description</p>
        </div>
      </div>

    